/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports) */
/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 15, ../sass/partials/_extendables.sass */
.hr {
  height: 3px;
}

/* line 23, ../sass/partials/_extendables.sass */
.smText {
  font-size: 0.88em;
}

/* line 30, ../sass/partials/_extendables.sass */
.btn {
  background: red;
  color: white;
}
/* line 34, ../sass/partials/_extendables.sass */
.btn:hover {
  background: #227e53;
}

/* line 6, ../sass/partials/_layout.sass */
.page-container {
  width: 940px;
  margin: 44px auto;
}

/* line 12, ../sass/partials/_layout.sass */
header {
  text-align: center;
}

/* line 15, ../sass/partials/_layout.sass */
nav {
  overflow: hidden;
}

/* line 22, ../sass/partials/_layout.sass */
.fullWidth {
  margin: 0 auto;
  width: 660px;
  line-height: 28px;
}

/* line 27, ../sass/partials/_layout.sass */
.leftcol {
  float: left;
  width: 50%;
}

/* line 31, ../sass/partials/_layout.sass */
.rightcol {
  float: right;
  width: 50%;
}

/* line 35, ../sass/partials/_layout.sass */
footer {
  clear: both;
}

/* line 1, ../sass/partials/_typography.sass */
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", arial, sans-serif;
  font-weight: 600;
  margin: 0;
}

/* line 6, ../sass/partials/_typography.sass */
h1 {
  font-size: 44px;
  color: #515151;
  font-weight: 100;
}

/* line 12, ../sass/partials/_typography.sass */
.content h2 {
  font-size: 44px;
  line-height: 44px;
  color: #9e0039;
}

/* line 3, ../sass/partials/_default.sass */
body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", arial, sans-serif;
}

/* line 6, ../sass/partials/_default.sass */
.content {
  font-family: georgia;
}

/* line 9, ../sass/partials/_default.sass */
p {
  margin-bottom: 1.56rem;
}

/* line 12, ../sass/partials/_default.sass */
a {
  font-weight: 600;
  color: #9e0039;
}
/* line 16, ../sass/partials/_default.sass */
a:hover {
  text-decoration: none;
}

/* line 19, ../sass/partials/_default.sass */
strong {
  font-weight: 700;
}

/* line 22, ../sass/partials/_default.sass */
em {
  font-style: italic;
}

/* line 25, ../sass/partials/_default.sass */
img {
  max-width: 100%;
}

/* line 1, ../sass/partials/_design.sass */
body {
  background: #faf6e8 url(../images/pawprints.png) no-repeat 50% 38px;
  color: #2c2c2c;
}

/* line 8, ../sass/partials/_design.sass */
header h1 {
  margin: 5px 0 25px 0;
}
/* line 11, ../sass/partials/_design.sass */
header h2 {
  font-weight: 300;
}
/* line 14, ../sass/partials/_design.sass */
header span {
  background: url(../images/ico-heart.png) no-repeat 0;
  padding-left: 23px;
  margin-left: 7px;
}

/* line 19, ../sass/partials/_design.sass */
nav {
  margin: 54px 0 60px 0;
  padding: 20px 0;
  border-top: 2px solid #e1ddd0;
  border-bottom: 2px solid #e1ddd0;
}
/* line 25, ../sass/partials/_design.sass */
nav li {
  float: left;
  text-transform: uppercase;
  font-weight: 600;
}
/* line 30, ../sass/partials/_design.sass */
nav a {
  color: #3f3e3a;
  text-decoration: none;
  padding: 0 32px;
}
/* line 34, ../sass/partials/_design.sass */
nav a:hover {
  color: #9e0039;
}

/* line 41, ../sass/partials/_design.sass */
.content {
  overflow: hidden;
  padding-bottom: 88px;
  line-height: 27px;
  font-size: 18px;
}

/* line 48, ../sass/partials/_design.sass */
.fullWidth h2 {
  margin-bottom: 22px;
}

/* line 51, ../sass/partials/_design.sass */
.rightcol {
  color: #2c2c2c;
}
/* line 54, ../sass/partials/_design.sass */
.rightcol h2 {
  margin-bottom: 22px;
}

/* line 57, ../sass/partials/_design.sass */
.testimonial {
  font-size: 21px;
  font-style: italic;
  line-height: 30px;
  margin-bottom: 60px;
}

/* line 66, ../sass/partials/_design.sass */
footer {
  border-top: 2px solid #e1ddd0;
  padding: 25px 0 80px 0;
  text-align: center;
  font-size: 13px;
  color: #8a877f;
  background: url(../images/ico-paw.png) no-repeat 50% 80px;
}
/* line 74, ../sass/partials/_design.sass */
footer p {
  margin: 0 0 10px 0;
}
/* line 77, ../sass/partials/_design.sass */
footer a {
  color: #8a877f;
}
